.form {
    text-align: center;
    line-height: 1.5;
    margin: auto;
    background: transparent;
}

.form input {
    width: 350px;
    font-size: 1.00rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: none;
    margin: auto;
    background: transparent;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.save-button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    background: #3a3a3e;
    border-radius: 3px;
    border-style: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.save-button:hover{
    background: #252527;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}